section{
    color: red;
}
ul ul li{
    background-color: rgb(0,255,0);
}
/* #segundoparrafo{
    background-color: #0088FF;
} */
.palabra{
    font-size: large;
    background-color: yellow;
}
li[name*="co"]{
    background-color: red;
}
p:only-child{
    background-color: green;
}